out
node_modules
client/server
.vscode-test

# gradle
server/drl-server/.gradle/
server/drl-server/.idea/
server/drl-server/build
server/drl-server/server
server/drl-server/bin
!server/drl-server/server/run_server.exe